<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
    <wicket:extend>
        <div style="text-align: right"><a wicket:id="voltar">Voltar</a></div>
        <fieldset>
            <legend>Dados do Leilão</legend>
            <label>Nome do Leilão: </label><span wicket:id="leilao"></span><br />
            <label>Nome maior Lance: </label><span wicket:id="nomeMaiorLance"></span><br />
            <label>Valor maior Lance: </label><span wicket:id="valorMaiorLance"></span>
        </fieldset>
        <br />
        <div wicket:id="message"></div>
        <form wicket:id="form" >
            <table>
                <tbody>
                    <tr>
                        <td>Nome Pessoa:</td>
                        <td><input type="text" wicket:id="nomePessoa" /></td>
                        <td>Valor Lance:</td>
                        <td><input type="text" wicket:id="valor" /></td>
                        <td><input type="submit" value="Salvar"/></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br />
        <table width="100%">
            <thead>
            <tr>
                <th width="60%">Nome Pessoa</th>
                <th width="20%">Valor Lance</th>
                <th width="20%">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="lances">
                <td wicket:id="nome"></td>
                <td wicket:id="valor"></td>
                <td><a wicket:id="excluir" >Excluir</a></td>
            </tr>
            </tbody>
        </table>
    </wicket:extend>
</body>
</html>
