<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
    <wicket:extend>
        <div style="text-align: right"><a wicket:id="voltar">Voltar</a></div>
        <fieldset>
            <legend>Dados do Leilão</legend>
            <label>Nome do Leilão: </label><span wicket:id="leilao"></span><br />
            <label>Nome maior Lance: </label><span wicket:id="nomeMaiorLance"></span><br />
            <label>Valor maior Lance: </label><span wicket:id="valorMaiorLance"></span>
        </fieldset>
        <br />
        <div wicket:id="message"></div>
    </wicket:extend>
</body>
</html>
