<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
    <wicket:extend>
        <div wicket:id="message"></div>
        <table width="100%">
            <thead>
            <tr>
                <th width="40%">Leilão</th>
                <th width="40%">Nome Pessoa do Lance</th>
                <th width="20%">Valor do Lance</th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="lances">
                <td wicket:id="leilao"></td>
                <td wicket:id="nomePessoa"></td>
                <td wicket:id="valorLance"></td>
            </tr>
            </tbody>
        </table>
    </wicket:extend>
</body>
</html>