<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="wrapper row1" wicket:id="headerPanel">header</div>
    <div class="wrapper row2">
        <div id="container">
            <div id="content">
                <wicket:child/>
            </div>
        </div>
    </div>
    <div class="wrapper row3" wicket:id="footerPanel">footer</div>
</body>
</html>