<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <wicket:panel>
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>Laboratório 4</h1>
            </div>
            <nav>
                <ul>
                    <li><a wicket:id="leilaoMenu" >Leilão</a></li>
                    <li><a wicket:id="lancesMenu">Lances</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
    </wicket:panel>
</body>
</html>